body{
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-size: 16px;
}


input, button{
  font-family: sans-serif;
  font-weight:bold;
}

.main-div, .loggedin-div{
  width: 25%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
}

.main-div input{
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;

}

.main-div button, .loggedin-div button{
  background: #66CCFF;
  color: #fff;
  border: 1px solid #9999FF;
  border: 0px;
  border-radius: 5px;
  padding:15px;
  display: block;
  width: 100%;
  transition: 0.2s;
  -webkit-transition:0.2s;
  -moz-transition:0.2s;

}


.main-div button:hover, .loggedin-div button:hover{
  background: #fff;
  color: #9999FF;
  border: 1px solid #9999FF;
}
